@using VIews.Models
@{
    Person person  = new Person()
    {
        Name="John", 
        DoB = Convert.ToDateTime("2002-02-20")
    };
    string appTitle = "Asp.Net Core App";
}
<!DOCTYPE html>
<html>
    <head>
        <title>@appTitle</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Welcome</h1>
        <h2>Hello @person.Name</h2>
        @{
            double age = inMath.Round((DateTime.Now - person.DateOfBirth).TotalDays/365.25);
        }
        <h3>@age years old</h3>
    </body>
</html>