<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-conent">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @* <li><a href="~/">Home</a></li> *@
                <li><a href="~/about">About</a></li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
